.glide__arrows {
  display: none;
}
.glide__slide img {
  width: 100%;
}
.glide_pager {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 118px;
  height: 100px;
  cursor: pointer;
  text-align: center;
  background: rgba(255,255,255,0.8);
  color: #00457c;
  border-radius: 10px;
  margin: 0 15px;
  padding: 20px;
  text-transform: uppercase;
}

.glide_pager:hover,
.glide_pager.glide__bullet--active {
  text-align: center;
  background: rgba(0,69,124,0.8);
  color: #fff;
}

.slide-background {
  background-size: cover;
  min-height: 55em;
  background-position-y: top;
}

.slide-background.position-left {
  background-position-x: left;
}

.slide-background.position-center {
  background-position-x: center;
}

.slide-background.position-right {
  background-position-x: right;
}

.slide-cta {
  position: relative;
  z-index: 1;
  top: 100px;
  text-align: center;
}

.slide-cta.position-left {
  left: -25%;
}

.slide-cta.position-right {
  right: -25%;
}

.slide-cta.color-light {
  color: #fff;
}

.slide-cta.color-dark {
  color: #000;
}

.slide-cta .text1 {
  font-size: 17px;
  line-height: 20px;
}

.slide-cta .text2 {
  font-size: 14px;
  line-height: 16px;
}

.slide-cta .cta-link a {
  width: 80px;
  background-color: #e60000;
  color: #fff;
  padding: 8px;
  font-weight: bold;
  position: relative;
  top: 10px;
}
