.dx8-tabs {
  background-color: #DBDBDB;
}

@media screen and (min-width: 37.5em) {
  .dx8-tabs {
    height: auto;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
  }
}

.dx8-tabs li a {
  color: #000;
  background: #CECECE;
  display: block;
  font-size: 0.929em;
  padding: 11px 20px;
}

.dx8-tabs li a:hover {
  background: #B3B3B3;
}

.dx8-tabs li.is-active a {
  background: #F1F1F1;
  pointer-events: none;
}

@media screen and (max-width: 37.5em) {
  .dx8-tabs li {
    display: block;
    margin: 0;
  }
}

@media screen and (min-width: 37.5em) {
  .dx8-tabs li {
    display: block;
    float: left;
    
    vertical-align: bottom;
    margin: 0 1px 0 0;
    
  }
  [dir="rtl"] .dx8-tabs li {
    margin: 0 0 0 1px;
    float: right;
  }
}

#user-login-form,
#user-register-form,
#user-pass,
#search-form,
#search-block-form {
  border: 1px solid #DBDBDB;
  margin-top: -1px;
  margin-bottom: 15px;
  padding: 15px 30px;
}

#user-login-form .form-item,
#user-register-form .form-item,
#user-pass .form-item,
#search-form .form-item,
#search-block-form .form-item {
  padding: 15px 0;
}

#user-login-form .form-item .description,
#user-register-form .form-item .description,
#user-pass .form-item .description,
#search-form .form-item .description,
#search-block-form .form-item .description {
  margin-top: 10px;
}

#user-login-form .form-actions,
#user-register-form .form-actions,
#user-pass .form-actions,
#search-form .form-actions,
#search-block-form .form-actions {
  padding: 15px 0;
}

#user-login-form label,
#user-register-form label,
#user-pass label,
#search-form label,
#search-block-form label {
  display: table;
  margin-bottom: 10px;
}

#user-login-form input,
#user-login-form select,
#user-register-form input,
#user-register-form select,
#user-pass input,
#user-pass select,
#search-form input,
#search-form select,
#search-block-form input,
#search-block-form select {
  max-width: 100%;
}

#user-login-form details.form-wrapper,
#user-register-form details.form-wrapper,
#user-pass details.form-wrapper,
#search-form details.form-wrapper,
#search-block-form details.form-wrapper {
  border-bottom-width: 0;
  margin: 15px 0;
}

#user-login-form details.form-wrapper .dx8-details-content,
#user-register-form details.form-wrapper .dx8-details-content,
#user-pass details.form-wrapper .dx8-details-content,
#search-form details.form-wrapper .dx8-details-content,
#search-block-form details.form-wrapper .dx8-details-content {
  border: 1px solid #DBDBDB;
  border-top: 0;
  padding: 15px 30px;
}

#user-login-form details.form-wrapper .dx8-details-content fieldset,
#user-register-form details.form-wrapper .dx8-details-content fieldset,
#user-pass details.form-wrapper .dx8-details-content fieldset,
#search-form details.form-wrapper .dx8-details-content fieldset,
#search-block-form details.form-wrapper .dx8-details-content fieldset {
  border: 0;
}

#user-login-form details.form-wrapper .dx8-details-content legend,
#user-register-form details.form-wrapper .dx8-details-content legend,
#user-pass details.form-wrapper .dx8-details-content legend,
#search-form details.form-wrapper .dx8-details-content legend,
#search-block-form details.form-wrapper .dx8-details-content legend {
  position: relative;
  top: 15px;
  padding: 10px 0;
}

#user-login-form details.form-wrapper .dx8-details-content > fieldset > legend,
#user-register-form details.form-wrapper .dx8-details-content > fieldset > legend,
#user-pass details.form-wrapper .dx8-details-content > fieldset > legend,
#search-form details.form-wrapper .dx8-details-content > fieldset > legend,
#search-block-form details.form-wrapper .dx8-details-content > fieldset > legend {
  width: 100%;
  border-bottom: 1px solid #DBDBDB;
}

#user-login-form details.form-wrapper summary,
#user-register-form details.form-wrapper summary,
#user-pass details.form-wrapper summary,
#search-form details.form-wrapper summary,
#search-block-form details.form-wrapper summary {
  padding: 10px;
  background: #DBDBDB;
}

#user-login-form .form-type-checkbox label,
#user-register-form .form-type-checkbox label,
#user-pass .form-type-checkbox label,
#search-form .form-type-checkbox label,
#search-block-form .form-type-checkbox label {
  margin-bottom: 0;
}

#user-login-form .form-checkbox,
#user-register-form .form-checkbox,
#user-pass .form-checkbox,
#search-form .form-checkbox,
#search-block-form .form-checkbox {
  margin-right: 10px;
  float: left;
}

#search-tab {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: row;
  margin: .9375rem 0;
}

@media screen and (max-width: 35.25em) {
  #search-tab {
    flex-direction: column;
  }
}

#search-tab .form-item-search-tab {
  flex: 1 1 auto;
  
}

#search-tab .form-item-search-tab label {
  color: #333;
  background-color: #fbfbfb;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  text-decoration: none;
  padding: 0.625rem 0;
  margin: -1.3125rem 0 0;
  border: 1px solid #e3e3e3;
  border-left-color: transparent;
}

#search-tab .form-item-search-tab:first-child label {
  border-left-color: #e3e3e3;
}

@media screen and (max-width: 35.25em) {
  #search-tab .form-item-search-tab label {
    border-left-color: #e3e3e3;
    border-top-color: transparent;
  }
  #search-tab .form-item-search-tab:first-child label {
    border-top-color: #e3e3e3;
  }
}

#search-tab .form-item-search-tab input[type="radio"] {
  opacity: 0;
}

#search-tab .form-item-search-tab input[type="radio"]:checked + label {
  color: #fff;
  background-color: #4178b4;
  border-color: transparent;
  border-bottom: 2px solid #e60000;
  outline: 0;
}

#search-tab .form-item-search-tab label:hover,
#search-tab .form-item-search-tab label:focus {
  background: #fbfbfb;
  text-decoration: underline;
  color: #4178b4;
}

.tabs-form .form-item-search {
  display: none;
}

.hidden {
  display: none;
}

#edit-help-link {
  display: block;
  margin-top: 10px;
}

.search-block-form {
  padding: 15px 0;
}

.search-block-form h2 {
  margin-bottom: 10px;
}

#search-block-form {
  padding: 0;
  border: 0;
}

#search-block-form:before, #search-block-form:after {
  content: "";
  display: table;
}

#search-block-form:after {
  clear: both;
}

#search-block-form .form-item {
  margin-right: 15px;
}

#search-block-form .form-item,
#search-block-form .form-actions {
  float: left;
  padding: 0;
}

#search-block-form input {
  margin: 0;
}

.ui-widget,
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family: Verdana,Geneva,sans-serif;
}

.ui-widget.ui-widget-content {
  padding: 0.5rem 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.ui-menu {
  width: 12.4375rem;
}

.ui-menu .ui-menu-item {
  background-color: #fff;
}

.ui-menu .ui-menu-item-wrapper {
  
  padding: 4px 18px;
  line-height: normal;
}

.ui-widget-content a {
  color: #333;
  display: block;
}

.ui-widget-content a:hover,
.ui-widget-content a:focus,
.ui-widget-content .ui-state-active {
  color: #fff;
  text-decoration: none;
  background-color: #1a5687;
  border-color: #fff;
}

.coh-style-slider-left-side-blocks h2 {
  padding-left: 1.25rem;
  font-size: 19px;
}

.login-wrapper .coh-block,
.login-wrapper .block,
.login-wrapper form,
.login-wrapper .top-select {
  display: flex;
  flex: 1 1 auto;
}

.coh-style-login-blocks select {
  display: visible;
  position: absolute;
  width: 0px;
  height: 0px;
  clip: rect(0, 0, 0, 0);
}

.coh-style-login-blocks .sidebar-select,
.coh-style-login-blocks .sidebar-login-results {
  padding: 0.625rem 1.25rem 0rem 1.25rem;
}

.coh-style-login-blocks .sidebar-login-results {
  padding-bottom: 0.9375rem;
}

.coh-style-login-blocks .login-results {
  padding: 0.9375rem 0.625rem;
  position: absolute;
  right: 0;
  top: 100%;
  width: 17.5rem;
  background: #00457c;
  background: rgba(0, 69, 124, 0.8);
}

@media (max-width: 59.3125rem) {
  .coh-style-login-blocks .login-results {
    margin-top: 0.125rem;
    background: #00457c;
  }
}

@media (max-width: 47.9375rem) {
  .coh-style-login-blocks .login-results {
    width: 100vw;
  }
}

.coh-style-login-blocks #edit-investments-wealth-links,
.coh-style-login-blocks #edit-investments-wealth-links--2,
.coh-style-login-blocks #edit-awm-client-point-links,
.coh-style-login-blocks #edit-awm-client-point-links--2 {
  float: right;
  margin-top: -0.25rem;
}

.coh-style-login-blocks .chosen-container-single {
  flex: 1 1 auto;
  display: flex !important;
  border-left: 0.0625rem solid;
  border-right: 0.0625rem solid;
  border-color: #426386;
}

.coh-style-login-blocks .chosen-container-single .chosen-single {
  text-transform: uppercase;
  flex: 1 1 auto;
  display: flex;
  width: 13.75rem;
  color: #fff;
  border: none;
  border-radius: 0;
  padding: 0.9375rem 0.625rem;
  height: 100%;
  font-size: 0.75rem;
  line-height: 1.0125rem;
  font-weight: 600;
  box-shadow: none;
  background: #4178b4 url(../images/icon-lock.png) left 1rem center no-repeat;
  background-size: 1.375rem 1.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.coh-style-login-blocks .chosen-container-single .chosen-single:hover {
  background-color: #5990cb;
  color: #002c5c;
}

.coh-style-login-blocks .chosen-container-single .chosen-single span {
  margin: auto 2.5rem auto 2.1875rem;
}

.coh-style-login-blocks .chosen-container-single .chosen-single div {
  right: 1rem;
  width: 1.5rem;
}

.coh-style-login-blocks .chosen-container-single .chosen-single div b {
  background: none;
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='2 2 12 12'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='square' stroke-linejoin='square' stroke-width='3' d='M2 5l6 7 6-7'/%3e%3c/svg%3e") center center no-repeat !important;
  background-size: 1.5rem 0.70rem !important;
}

.coh-style-login-blocks .chosen-container-single .chosen-single.chosen-single-with-deselect abbr {
  right: 0.75rem;
  top: 0;
  width: 1.5rem;
  display: flex;
  height: 100%;
  background: none !important;
  color: #ffffff;
  font-size: 1.375rem;
}

.coh-style-login-blocks .chosen-container-single .chosen-single.chosen-single-with-deselect abbr:before {
  align-self: center;
  height: auto;
  width: auto;
  padding: inherit;
  font-weight: bold;
  content: "\2715";
}

.coh-style-login-blocks .chosen-container-single .chosen-single.chosen-single-with-deselect div {
  display: none;
}

.coh-style-login-blocks .chosen-container-single .chosen-single.chosen-default div {
  display: block;
}

.coh-style-login-blocks .chosen-container-single.chosen-container-active .chosen-single {
  background-color: #acc6e1;
  color: #002c5c;
}

.coh-style-login-blocks .chosen-container-single.chosen-container-active .chosen-single:hover {
  background-color: #001b44;
  color: #ffffff;
}

.coh-style-login-blocks .chosen-container-single .chosen-drop {
  width: 13.875rem;
  right: 0;
  margin-top: 0;
  margin-right: -1px;
  background: #fff;
  color: #4879ad;
  padding: 1rem;
  border: 3px solid #acc6e1;
  border-radius: 0;
  -webkit-clip-path: none;
  clip-path: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.coh-style-login-blocks .chosen-container-single .chosen-results {
  max-height: none;
  margin: 0;
  padding: 0;
}

.coh-style-login-blocks .chosen-container-single .chosen-results li {
  margin: 0;
  padding: 0 0 0.3125rem 0;
  color: #4879ad;
  line-height: 1.2;
}

.coh-style-login-blocks .chosen-container-single .chosen-results li.highlighted {
  text-decoration: underline;
  background: none;
  color: #4879ad;
}

.coh-style-login-blocks .chosen-container-single .chosen-results li.result-selected {
  text-decoration: none;
}

.coh-style-login-blocks .sidebar-select .chosen-container-single {
  border: 0;
}

.coh-style-login-blocks .sidebar-select .chosen-container-single .chosen-single {
  font-size: 1.125rem;
  line-height: 2.1;
  padding-top: 0;
  padding-bottom: 0;
  font-weight: 500;
}

.coh-style-login-blocks .sidebar-select .chosen-container-single .chosen-drop {
  width: 100%;
  left: 0;
}

@media screen and (max-width: 73.0625rem) {
  .coh-style-login-blocks .top-select .chosen-container-single .chosen-single {
    width: 10rem;
  }
}

@media screen and (max-width: 59.3125rem) {
  .coh-style-login-blocks .top-select .chosen-container-single .chosen-single {
    border: none;
  }
}

@media screen and (max-width: 35.25em) {
  .coh-style-login-blocks .top-select .chosen-container-single .chosen-single {
    width: 7.5rem;
    background-image: none;
  }
  .coh-style-login-blocks .top-select .chosen-container-single .chosen-single span {
    margin-left: 0;
    margin-right: 0.9375rem;
  }
  .coh-style-login-blocks .top-select .chosen-container-single .chosen-single div {
    right: 0.3125rem;
  }
  .coh-style-login-blocks .top-select .chosen-container-single .chosen-single.chosen-single-with-deselect abbr {
    right: 0.125rem;
  }
}

.node-preview-container {
  background-color: #DBDBDB;
}

.node-preview-container .node-preview-backlink {
  display: inline-block;
  line-height: 14px;
  padding: 4px 15px;
  background: #0071B8 linear-gradient(to bottom, #007BC6, #0071B8);
  border: 1px solid #1E5C90;
  border-radius: 20px;
  font: 700 14px Arial;
  color: #FFF;
  text-shadow: 0 1px rgba(0, 0, 0, 0.5);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.node-preview-container .node-preview-backlink:hover, .node-preview-container .node-preview-backlink:focus {
  background: #2369A6 linear-gradient(to bottom, #0C97ED, #1F86C7);
  border-color: #1F86C7;
}

.node-preview-container .node-preview-backlink:hover {
  box-shadow: 0 1px 2px rgba(23, 26, 28, 0.25);
}

.node-preview-container .node-preview-backlink:focus {
  border-color: #1280DF;
}

.node-preview-container .node-preview-backlink:active {
  background: #0071B8 linear-gradient(to bottom, #08639B, #0071B8);
  border-color: #144B78;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

.node-preview-container .node-preview-backlink:before {
  content: '\00AB';
  margin-right: 5px;
  font-size: 16px;
}
