// --------------- ALL DX8 THEME FORMS  --------------- //

#user-login-form,
#user-register-form,
#user-pass,
#search-form,
#search-block-form {
    border: 1px solid $dx8-grey-2;
    margin-top: -1px;
    margin-bottom: 15px;
    padding: 15px 30px;

    .form-item {
        padding: 15px 0;

        .description {
            margin-top: 10px;
        }
    }

    .form-actions {
        padding: 15px 0;
    }

    label {
        display: table; // force label above fields
        margin-bottom: 10px;
    }

    input,
    select {
        max-width: 100%; // stop fields overflowing parent container
    }

    // details element
    details.form-wrapper {
        border-bottom-width: 0;
        margin: 15px 0;

        .dx8-details-content {
            border: 1px solid $dx8-grey-2;
            border-top: 0;
            padding: 15px 30px;

            fieldset {
                border: 0;
            }

            legend {
                position: relative;
                top: 15px;
                padding: 10px 0;
            }

            > fieldset > legend {
                width: 100%;
                border-bottom: 1px solid $dx8-grey-2;
            }
        }

        summary {
            padding: 10px;
            background: $dx8-grey-2;
        }
    }

    .form-type-checkbox {
        label {
            margin-bottom: 0;
        }
    }

    .form-checkbox {
        margin-right: 10px;
        float: left;
    }
}


// ---------------  SEARCH FORMS  --------------- //

// Search tabs
#search-tab {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
    margin: .9375rem 0; // 15px
  
    // max-width 564px
    // Stack tabs at full width
    @media screen and (max-width: 35.25em) {
        flex-direction: column;
    }

    // Tab
    .form-item-search-tab {
        flex: 1 1 auto;
  
        // Use label as tab display
        label {
            color: #333;
            background-color: #fbfbfb;
            font-size: 1rem; 
            display: flex;
            justify-content: center;
            flex-flow: column;
            text-align: center;
            text-decoration: none;
            padding: 0.625rem 0;
            margin: -1.3125rem 0 0; // Move up -21px to cover hidden input
            border: 1px solid #e3e3e3;
            border-left-color: transparent;
        }
        &:first-child label {
            border-left-color: #e3e3e3;
        }

        // max-width 564px
        // Change borders
        @media screen and (max-width: 35.25em) {
            label {
                border-left-color: #e3e3e3;    
                border-top-color: transparent;
            }
            &:first-child label {
                 border-top-color: #e3e3e3;
            }
        }

        // Accessibly hide radio input
        input[type="radio"] {
            opacity: 0;
        }
        
        /* Radio and label selected, hover, and focus states */
       input[type="radio"]:checked + label {
            color: #fff;
            background-color: #4178b4;
            border-color: transparent;
            border-bottom: 2px solid #e60000;
            outline: 0;
        }
        label:hover,
        label:focus {
            background: #fbfbfb;
            text-decoration: underline; // Underline for accessibility
            color: #4178b4;
        }
    }
}

// For search tabs form.
.tabs-form .form-item-search{
  display: none;
}

.hidden {
  display: none;
}

#edit-help-link {
    display: block;
    margin-top: 10px;
}

.search-block-form {
    padding: 15px 0;

    h2 {
        margin-bottom: 10px;
    }
}

#search-block-form {
    padding: 0;
    border: 0;

    // clearfix
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }

    .form-item {
        margin-right: 15px;
    }

    .form-item,
    .form-actions {
        float: left;
        padding: 0;
    }

    input {
        margin: 0;
    }
}


// ---------------  Search UI Widget  --------------- //
.ui-widget,
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
    font-family: Verdana,Geneva,sans-serif;
}
.ui-widget.ui-widget-content {
    padding: 0.5rem 0;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.ui-menu {
    width: 12.4375rem; // 199px;

    .ui-menu-item {
        background-color: #fff;
    }
    .ui-menu-item-wrapper {
        /* padding: 3px 1em 3px .4em; */
        padding: 4px 18px;
        line-height: normal;
    }
}
.ui-widget-content {
    a {
        color: #333;
        display: block;
    }
    a:hover,
    a:focus,
    .ui-state-active {
        color: #fff;
        text-decoration: none;
        background-color: #1a5687;
        border-color: #fff;
    }
}


// ---------------  Login Forms  --------------- //

// Top nav bar
// Multiple svg backgrounds on select
// Remining styles in Site Studio Login Blocks custom style

// .coh-container.coh-ce-cpt_site_header-2a933a58 {
//     z-index: 50;
//   }


.coh-style-slider-left-side-blocks h2 {
    padding-left: 20px;
    // Remove font size
    font-size: 19px;
}


.login-wrapper {
    // Max-width 1170px
    @media screen and (max-width: 73.125em) {
        // flex: 1 1 20%;
        .coh-style-login-blocks .chosen-container-single .chosen-single {
            width: 160px;
        }
    }

    // Max-width 949px
    @media screen and (max-width: 59.3125rem) {
        // position: absolute; // Update in SS
        // .coh-style-login-blocks .chosen-container-single .chosen-single {
        //     width: 120px;
        // }
    }

    // Max-width 564px
    @media screen and (max-width: 35.25em) {
        .coh-style-login-blocks .chosen-container-single .chosen-single {
            width: 120px;
            background-image: none;
            span {
                margin-left: 0; 
                margin-right: 15px;
            }
            div {
                right: 5px;
            }
        }
    }

    div,
    form {
        display: flex;
        flex: 1 1 auto;
    }
    div.results-container,
    div.results-container div {
        display: block;
        // width: 100%;
        flex: none;
    }

    // Continue to hide selects when small screen menu is toggled
    #edit-login-select-non-prod,
    #edit-login-select {
        display: visible;
        position: absolute;
        width: 0px;
        height: 0px;
        clip: rect(0,0,0,0);
    }
}

.coh-style-login-blocks {

    .sidebar-select,
    .sidebar-container {
        padding: 10px 20px 0px 20px;
    }
    .sidebar-container { 
        padding-bottom: 15px;
    }

    .results-container {
        padding: 15px 10px;

        position: absolute;
        right: 0;
        top: 100%;
        width: 280px;
        background: #00457c;
        background: rgba(0,69,124,0.8);
        // z-index: 10000;

        @media (max-width: 59.3125rem) {
            & {
                background: #00457c;
                // background: rgba(0,69,124,1);
            }
        }
        h3 {
            color: #ffffff;
            font-size: 18px;
            font-weight: 500;
            margin-top: 0;
            line-height: 1.2;
        }
    }

    .form-text,
    input[type="text"],
    input[type="password"]
        {
        font-size: 12px;
        width: 100%;
        padding: 0 0 0 10px;
        background: #fff;
        height: 35px;
        color: #444;
        border: none;
        margin: 0 0 10px 0;
        line-height: normal;
        border-radius: 0;
    }

    .coh-style-blue-link-button {
        border: 0;
        border-radius: 0;
        background: #001b44;
        // padding: 10px 15px;
        // background-color: rgb(0, 44, 92);
        &:hover {
            background: #002c5c;
        }
    }
    
    #edit-investments-wealth-links,
    #edit-investments-wealth-links--2,
    #edit-awm-client-point-links,
    #edit-awm-client-point-links--2 {
        position: absolute;
        // left: 100px;
        right: 20px;
        bottom: 10px;
    }

    .sidebar-select .chosen-container-single {
        border: 0;

        .chosen-single {
            // height: 35px;
            font-size: 1.125rem; // 18px
            line-height: 2.1;
            // padding: 7px 10px;
            padding-top: 0;
            padding-bottom: 0;
            font-weight: 500;
        }
        .chosen-drop {
            width: 100%;
            left: 0;
        }
    }

    .chosen-container-single {
        flex: 1 1 auto;
        display: flex !important;
        border-left: 0.0625rem solid;
        border-right: 0.0625rem solid;
        border-color: #426386;

        .chosen-single {
            // align-self: center; // Vertically center
            text-transform: uppercase;
            flex: 1 1 auto;
            display: flex;
            // max-width: 220px;
            width: 220px;
            color: #fff;
            border: none;
            border-radius: 0;
            padding: 15px 10px;
            height: 100%;
            font-size: 0.75rem;
            line-height: 1.0125rem;
            // padding: 12px 10px;
            // height: 46px;
            // font-size: 0.75rem;
            // line-height: 1.35rem;
            font-weight: 600;
            box-shadow: none;
            // background: url(/themes/custom/arvestbank_theme/images/icon-lock.png) left 0.75rem center no-repeat, url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='2 2 12 12'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='square' stroke-linejoin='square' stroke-width='3' d='M2 5l6 6 6-6'/%3e%3c/svg%3e") right 1.25rem center no-repeat;
            // background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Cpath fill='%23ffffff' d='m3,9h1V6a5,5 0 0,1 12,0V9h1v11H3M14,9V6a4,4 0 1,0-8,0v3'/%3E%3C/svg%3E%0A") left 1rem center no-repeat;
            // background-size: 1.375rem 1.25rem;
            background: #4178b4 url(../images/icon-lock.png) left 1rem center no-repeat;
            background-size: 22px 20px;
            // background-color: #4178b4;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        
            &:hover {
                background-color: #5990cb;
                color: #002c5c;
            }
            span {
                margin: auto 40px auto 35px;
                // white-space: normal;
            }
            div {
                right: 16px;
                width: 24px;

                b {
                    background: none;
                    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='2 2 12 12'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='square' stroke-linejoin='square' stroke-width='3' d='M2 5l6 7 6-7'/%3e%3c/svg%3e") center center no-repeat !important;
                    background-size: 1.5rem 0.70rem !important;
                }
            }

            // Display in 949px and below
            @media screen and (max-width: 59.3125rem) {
                // span {
                //     margin-right: 0;
                //     margin-left: 30px;
                // }    
                // div { 
                //     display: none;
                // }
            }

            &.chosen-single-with-deselect {
                abbr {
                    right: 12px;
                    top: 0;
                    // top: 11px;
                    width: 24px;
                    display: flex;
                    // display: block;
                    height: 100%;
                    background: none !important;
                    color: #ffffff;
                    font-size: 22px;
                 
                    &:before {
                        align-self: center;
                        height: auto;
                        width: auto;
                        padding: inherit;
                        font-weight: bold;
                        content: "\2715";
                    }
                }
                // Hide arrow
                div {
                    display: none;
                }
            }

            &.chosen-default div {
                display: block;
            }
        }
        &.chosen-container-active .chosen-single {
            background-color: #acc6e1;
            color: #002c5c;
            &:hover {
                background-color: #001b44;
                color: #ffffff;
            }
        }

        .chosen-drop {
            width: 220px;
            right: 0;
            margin-top: 0;
            margin-right: -1px;
            /* border-radius: 0 0 4px 4px; */
            // background-clip: padding-box;
            background: #fff;
            color: #4879ad;
            padding: 16px;
            border: 3px solid #acc6e1;
            border-radius: 0;
            // font-size: 0.75rem;
            // line-height: 1.35;
        }

        .chosen-results {
            max-height: none;
            margin: 0;
            padding: 0;
        
            li {
                margin: 0;
                // padding: 5px 6px;
                padding: 0 0 5px 0;
                // list-style: none;
                // line-height: 15px;
                // word-wrap: break-word;
                // -webkit-touch-callout: none;
                // background: none;
                // display: block;
                color: #4879ad;
                line-height: 1.2;
            
                // &:first-child {
                //     display:none; // Hide Log In To... 
                // }
                &.highlighted {
                    text-decoration: underline;
                    background: none;
                    color: #4879ad;

                    // background-color: #3875d7;
                    // background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
                    // background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
                    // color: #fff;
                }
                &.result-selected {
                    text-decoration: none; 
                }
            }
        }
    }
}
