// --------------- ALL Arvest Bank css overrides  --------------- //


/* Site Studio Overrides */

/* Red menu links in the main navigation */
.main-menu-wrapper .red{
  color: #e60000;
}

/* Remove button border from admin toolbar */
#toolbar-administration button:before {
  border: none;
}

/* remove list items from content area */
.pager__items li:before, .chosen-results ul li:before, .site-content .chosen-container .chosen-results li:before{
  content: none;
}

/* flex style for webforms */
.coh-style-flex-50 .webform-flex{
  flex: 0 1 50%;
}
