// --------------- ALL Arvest Bank css overrides  --------------- //


/* Site Studio Overrides */

/* Red menu links in the main navigation */
.main-menu-wrapper .red{
  color: #e60000;
}

/* Remove button border from admin toolbar */
#toolbar-administration button:before {
  border: none;
}

/* remove list item bullets or triangles from content area */
body .site-content .pager__items li:before, .chosen-results ul li:before, .site-content .chosen-container .chosen-results li:before, body .site-content .webform-progress-tracker li:before, .body .site-content .pager__items li:before, .chosen-results ul li:before, .site-content .chosen-container .chosen-results li:before, body .site-content .webform-progress-tracker li:before,
.webform-submission-external-login-form .coh-style-triangle.webform-submit-input:before,
.block-views-exposed-filter-blockdatabase-search-page-1 .coh-style-triangle.webform-submit-input:before,
.block-arvestbank-branch-locations .coh-style-triangle.webform-submit-input:before,
.webform-submission-external-login-menu-form .coh-style-triangle.webform-submit-input:before{
  content: none;
}

/* flex style for webforms */
.coh-style-flex-50 .webform-flex{
  flex: 0 1 50%;
}


