// --------------- Content Tables  --------------- //

// --------------- Responsive_Tables_Filter Module / Tablesaw Overrides  --------------- //
/* Mobile first styles: Begin with the stacked presentation at narrow widths */
/* Support note IE9+: @media only all */

/* Show the table cells as a block level element */
@media only all {
  .tablesaw-stack td,
  .tablesaw-stack th {
    padding: calculateRem(20px);
    border: 1px solid #cccccc;
  }

  // Stop long words from breaking table layout
  .tablesaw-stack th,
  .tablesaw-cell-label {
    overflow-wrap: break-word;
  }

  // Make the label elements a percentage width
  .tablesaw-stack td .tablesaw-cell-label,
  .tablesaw-stack th .tablesaw-cell-label {
    display: inline-block !important;
    padding: 0 calculateRem(10px) 0 0;
  }
}
  
//   @media (max-width: 39.9375em) {
// Display full width below 768px tablet breakpoint
@media (max-width: 47.9375rem) {

  // Duplicate border in stacked table
  .tablesaw-stack {
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
  }
  .tablesaw-stack tbody td:last-child {
    border-bottom: 1px solid #cccccc;
  }
  .tablesaw-stack tbody tr:first-child {
    border-top: 1px solid #cccccc;
  }

  // Override tablesaw core tr
  .tablesaw-stack tbody tr {
    display: block;
    width: 100%;
    border-bottom: 0;
  }

  .tablesaw-stack thead td,
  .tablesaw-stack thead th {
    display: none;
  }

  .tablesaw-stack tbody td,
  .tablesaw-stack tbody th {
    display: block;
    float: left;
    clear: left;
    width: 100%;
    border: 0;
  }

  // Duplicate base table zebra striping
  .tablesaw-stack tbody tr:nth-child(odd) td,
  .tablesaw-stack tbody tr:nth-child(odd) th {
    background-color: #efefef;
  }

  .tablesaw-cell-label {
    vertical-align: top;
  }

  .tablesaw-cell-content {
    display: inline-block;
    max-width: 67%;
  }
  
  .tablesaw-stack .tablesaw-stack-block .tablesaw-cell-label,
  .tablesaw-stack .tablesaw-stack-block .tablesaw-cell-content {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
  }

  .tablesaw-stack td:empty,
  .tablesaw-stack th:empty {
    display: none;
  }

  // Align all cells left in stacked layout
  table.tablesaw-stack td.text-align-center, 
  table.tablesaw-stack th.text-align-center,
  table.tablesaw-stack td.text-align-right, 
  table.tablesaw-stack th.text-align-right {
    text-align: left;
  }
}
  
/* Display standard table at 768px tablet breakpoint and above */
@media (min-width: 48em) {
// @media (min-width: 40em) {
  .tablesaw-stack tr {
    display: table-row;
  }

  // Show the table header rows
  .tablesaw-stack td,
  .tablesaw-stack th,
  .tablesaw-stack thead td,
  .tablesaw-stack thead th {
    display: table-cell;
    margin: 0;
  }

  // Hide the labels in each cell
  .tablesaw-stack td .tablesaw-cell-label,
  .tablesaw-stack th .tablesaw-cell-label {
    display: none !important;
  }

  // Re-apply text alignment to table cells
  table.tablesaw-stack td.text-align-center, 
  table.tablesaw-stack th.text-align-center {
    text-align: center;
  }
  table.tablesaw-stack td.text-align-right, 
  table.tablesaw-stack th.text-align-right {
    text-align: right;
  }
}
